<html>




	<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="Системный администратор, сисадмин, программист, system administrator, sysadm"/>
	<meta name="description" content="Системный администратор"/>

	<title>RADIUS (Remote Authentication in Dial-In User Service)</title>

<!--
		<title>Системный администратор</title>


<!--
		 <link rel="stylesheet" href="hb.css" type="text/css">
		 <link rel="stylesheet" href="html.css" type="text/css">

-->

			<link rel="stylesheet" type="text/css" href="../../../../../../../maincss.css">


				<style type="text/css">
				   .text { 
	
					padding-left: 120px; 
					padding-right: 120px;
	
				   }
				   
				   .link { 
	
					padding-left: 120px; 
	
				   }
			   	   
				</style> 




<style type="text/css">
.site_map_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:29px;
	line-height:29px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.site_map_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.site_map_button:active {
	position:relative;
	top:1px;
}
</style>


	</head>


<body>


<div class="link">


<br/><br/>



<div align="left">
	<a href="../../../../../../../index.html"><img src="../../../../../../../sysadm.jpeg" border="0" alt="Системный Администратор"></a><br/>
</div>



<br/><br/>
<br/><br/>

<div align="center">
	<a href="../../../../../../../sitemap.php.html">SiteMap</a>
</div>



<br/><br/>
<h2>RADIUS (Remote Authentication in Dial-In User Service)</h2>


<pre>

Это протокол AAA (Authentication, Authorization и Accounting), разработанный для передачи
сведений между центральной платформой AAA и оборудованием Dial-Up доступа (NAS,
Network Access Server) и системой биллинга (то есть, системой тарификации использованных
ресурсов конкретным абонентом/пользователем).




[root@server ~]# yum install -y \
freeradius

[root@server ~]# rpm -qa freeradius*
freeradius-2.1.12-4.el6_3.x86_64


[root@server ~]# chkconfig --level 345 radiusd on

<!--
[root@server ~]# vi /etc/raddb/sites-available/default

закомментировать unix в (встречается в 2-х местах)
-->

[root@server ~]# mv /etc/raddb/users /etc/raddb/users.orig
[root@server ~]# vi /etc/raddb/users
user1 Cleartext-Password := "radius"



[root@server ~]# vi /etc/raddb/clients.conf


client client.localdomain {
	secret = testing123
	shortname = client
}


[root@server ~]# service radiusd restart


<strong>Логгирование</strong>

[root@server ~]# vi /etc/raddb/radiusd.conf 



log {
    destination = files
    file = ${logdir}/radius.log
#   requests = ${logdir}/radiusd-%{%{Virtual-Server}:-DEFAULT}-%Y%m%d.log
    syslog_facility = daemon
    stripped_names = no
    auth = yes
    auth_badpass = yes
    auth_goodpass = yes
#   msg_goodpass = ""
#   msg_badpass = ""
}



[root@server ~]# less /var/log/radius/radius.log



<strong>Отладка</strong>

[root@server ~]# service radiusd stop
[root@server ~]# radiusd -X





------------------------------------------------------------------

Client


[root@client ~]# rpm -ivh http://mirror.awanti.com/epel/6/x86_64/epel-release-6-8.noarch.rpm

[root@client ~]# yum install -y pam_radius

[root@client ~]# vi /etc/pam_radius.conf
server.localdomain testing123 3


<!--

[root@client pam.d]# vi /etc/pam.d/login
auth sufficient pam_radius_auth.so

-->

[root@client pam.d]# vi /etc/pam.d/sshd

добавил в начало документа, сразу после #%PAM-1.0
auth sufficient pam_radius_auth.so debug


Пытаюсь подключиться 
user1 / radius

Получаю ошибку:

[user1/\010\n\r\177INCORRECT]


==========================


Необходимо, чтобы пользователь user1 был уже заведен.

[root@server ~]# useradd user1

Завожу пользователя, все ок.




<!--


[root@server ~]# yum install -y \
freeradius \
freeradius-mysql \
freeradius-utils \
mysql-server 


[root@server ~]# service mysqld start


[root@server ~]# /usr/bin/mysql_secure_installation



mysql -uroot -p


CREATE DATABASE radius;

GRANT ALL PRIVILEGES ON radius.* TO radius@localhost IDENTIFIED BY "radpass";

flush privileges;



use radius;


SOURCE /etc/raddb/sql/mysql/schema.sql


exit




[root@server ~]# vi /etc/raddb/sql.conf


# Connection info:
	server = "localhost"
	#port = 3306
	login = "radius"
	password = "radpass"

	# Database table configuration for everything except Oracle
	radius_db = "radius"



[root@server ~]# vi /etc/raddb/radiusd.conf 


Разкомментировать строку:
$INCLUDE  sql.conf



[root@server ~]# vi /etc/raddb/sites-available/default


В блоках authorize{}, accounting {}, session {}

разкомментировать
sql


[root@server ~]# vi /etc/raddb/sites-available/inner-tunnel

В блоках authorize {}, session {}.

разкомментировать
sql



[root@server ~]# vi /etc/raddb/clients.conf

Поменять:
secret = testing123



Проверка
service radiusd restart
service radiusd stop



-->

















Почитать:
http://wiki.freeradius.org/config/Logging
http://safesrv.net/install-and-setup-freeradius-on-centos-5/

</pre>

</div>

<br/><br/>
<hr>
<br/><br/>


<br/><br/>
<div align="center" style="color:red">
Работа над этой версией сайта остановлена. Обновление и добавление материалов планируется делать уже на <a href="http://sysadm.ru">sysadm.ru</a>.
</div>
<br/><br/>


<div align="center">

	<img src="../../../../../../../sysadmin.jpeg" border="0" alt="Системный Администратор">


<!--
	<a href="http://prev.sysadm.ru/sysadm/"><img src="http://prev.sysadm.ru/sysadmin.jpeg" border="0" alt="Системный Администратор"></a><br/>

-->
</div>

<br/><br/>





<div align="center">

<strong>Системный Администратор</strong>
<br/>
<strong><a href="../../../../../../../index.html">SYSADM.RU</a></strong>
</div>

<br/><br/>




<!-- Page Info  -->

<!-- Эта страница была загружена с сайта: -->
<!-- http://prev.sysadm.ru/labs/specialist/linux/level3/linux_and_windows/authentication/radius/index.php -->



<!-- Дата обращения к странице -->
<!-- 05/08/2015 -->

<!--/ Page Info  -->




	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4894954-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> 

</body>

</html>
