

.formalpara-title {
  font-weight: bold;
}

div.blockquote-title {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

span.msgmain-title {
  font-weight: bold;
}

span.msgsub-title {
  font-weight: bold;
}

span.msgrel-title {
  font-weight: bold;
}

div.msglevel, div.msgorig, div.msgaud {
  margin-top: 1em;
  margin-bottom: 1em;
}

span.msglevel-title, span.msgorig-title, span.msgaud-title {
  font-weight: bold;
}

div.msgexplan {
  margin-top: 1em;
  margin-bottom: 1em;
}

span.msgexplan-title {
  font-weight: bold;
}

div.figure-title {
  font-weight: bold;
}

div.example-title {
  font-weight: bold;
}

div.equation-title {
  font-weight: bold;
}

div.table-title {
  font-weight: bold;
}

div.sidebar-title {
  font-weight: bold;
}

div.synopsis {
  white-space: pre;
  font-family: monospace;
}

/*
 * FreeBSD-specific formatting
 */

body address {
	line-height: 1.3;
	margin: .6em 0;
}

html body {
	margin: 1em 8% 1em 10%;
	line-height: 1.2;
	font-family: sans-serif;
}

.legalnotice {
	font-size: small;
	font-variant: small-caps;
}

body div {
	margin: 0;
}

dl {
	margin: .8em 0;
	line-height: 1.2;
}

div.calloutlist dt {
	float: left;
	width: 1em;
}

div.calloutlist dd {
	clear: right;
	margin-bottom: 1ex;
}

body form {
	margin: .6em 0;
}

div.example p b,
.question,
div.table p b,
div.procedure p b {
	color: #990000;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title,
h3.author, .corpauthor,
div.abstract div.abstract-title,
div.toc div.toc-title,
div.list-of-figures div.toc-title,
div.list-of-tables div.toc-title,
div.list-of-examples div.toc-title {
	font-weight: bold;
	line-height: 1.3;
	margin-top: 1em;
	margin-left: 0;
	color: #990000;
}

h1.title, h2.title {
	margin: .8em 0 0 -4%;
}

h3.title, h4.title {
	margin: .8em 0 0 -3%;
}

h5.title {
	margin: .8em 0 0 -2%;
}

h6.title {
	margin: .8em 0 0 -1%;
}

body hr {
	margin: .6em;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #cecece;
}

body img.navheader {
	margin: 0 0 0 -4%;
}

ol {
	margin: 0 0 0 1em;
	line-height: 1.2;
}

body pre {
	margin: .75em 0;
	line-height: 1.0;
	font-family: monospace;
}

body td, body th {
	line-height: 1.2;
	padding-right: 1.5em;
}

ul, body dir, body menu {
	margin: 0 0 0 1em;
	line-height: 1.2;
}

html {
	margin: 0;
	padding: 0;
}

.filename {
	color: #007a00;
}

.svnref {
	color: #007a00;
}

.guimenu, .guimenuitem, .guisubmenu,
.guilabel, .interface,
.shortcut, .shortcut .keycap {
	font-weight: bold;
}

.guibutton {
	background-color: #CFCFCF;
	padding: 2px;
}

.accel {
	background-color: #F0F0F0;
	text-decoration: underline;
}

pre.blue_border {
	white-space: pre;
	overflow: auto;
	font-family: monospace;
	padding: 1ex;
	background-color: #CCCCFF;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 1.1;
}


pre.white_border {
	white-space: pre;
	overflow: auto;
	font-family: monospace;
	padding: 1ex;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 1.1;
}

pre.gray_border {
	white-space: pre;
	overflow: auto;
	font-family: monospace;
	padding: 1ex;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 6px;
	line-height: 1.1;
}

@media blue_border {  /* hide from IE3 */
	a[href]:hover { background: #ffa }
}

.informaltable, .table th {
	padding-left: 02.em;
	text-align: left;
}

.note, .tip, .important, .warning, .caution, .example, div.procedure {
	border-radius: 6px;
	padding: 2ex 2ex;
	margin: .75em 3em .75em 1em;
        line-height: 1.3;
}

.note, div.procedure {
	color: #222;
	background: #eee;
	border: 1px solid #ccc;
	width: 90%;
}

.tip {
	color: #004F00;
	background: #d8ecd6;
	border: 1px solid green;
	width: 90%;
}

.important {
	font-style:italic;
	border: 1px solid #a00;
	border-left: 12px solid #c00;
}

.warning {
	color: #9F1313;
	background: #f8e8e8;
	border: 1px solid #e59595;
	width: 90%;
}

.caution {
	color: #3E3535;
	background: #FFC;
	border: 1px solid #e59595;
	width: 90%;
}

.example {
	background: #fefde6;
	border: 1px solid #f1bb16;
	margin: 1em 0;
	padding: 0.2em 2em;
	width: 90%;
}

.admontitle {
	display: inline;
	line-height: 1;
	margin-right: 0;
}

.procedure-title {
	font-weight: bold;
        line-height: 1;
        margin-right: 0;
}

.note p, .tip p, .important p, .warning p, .caution p, {
	display: inline;
}

.informaltable table.calstable tr td {
        padding-left: 1em;
        padding-right: 1em;
}

.authorgroup {
	font-style: italic;
}

.application {
	font-weight: bold;
}

.userinput,
.userinput code {
	font-weight: bold;
}

pre.blue_border strong {
	font-weight: normal;
}

.procedure ol {
	line-height: 1.2;
	margin: 0 0 0 -1em;
}
